*.jsonl
char2vec_just*
just_char*
checkp*
*.ckpt
*.sw*
dataset/*
embedding.ckpt*
models/embedding.*
models/logs/*
models/logz/*
models/tweet*
models/*.text
models/*.txt
models/skipgram
models/attention_*
*.npy
tweet_ids.txt
tweet_list_*
alternate_models/nepa*
word_char2vec*
word_charatt*
*.pyc
*.ckpt
*.meta
*_model.*
